@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: oklch(62.7% 0.194 149.214); /* bg-green-600 */
  --color-primary-lighter: oklch(72.3% 0.219 149.579); /* bg-green-500 */
  --color-primary-darker: oklch(52.7% 0.154 150.069); /* bg-green-700 */

  --color-input-primary: oklch(21.6% 0.006 56.043); /* bg-stone-800 */
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility toggle {
  @apply w-11 h-6 rounded-full bg-slate-300 cursor-pointer relative flex items-center;

  .toggle-inner {
    @apply w-5 h-5 rounded-full bg-white mx-0.5 absolute transition duration-300;
    transform: translate(0%, 0%);
  }

  &[data-checked='true'] {
    @apply bg-black dark:bg-green-600;

    .toggle-inner {
      transform: translate(100%, 0%);
    }
  }
}


@layer utilities {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }

  button {
    @apply px-6 py-2 capitalize text-xs font-bold rounded-xl shadow-xl cursor-pointer duration-300;
  }

  button:disabled {
    @apply cursor-not-allowed opacity-50;
    @apply hover:bg-primary;
  }

  button.filled {
    @apply bg-primary hover:bg-primary-darker;
  }

  button.transparent {
    @apply bg-transparent opacity-85 hover:opacity-100
  }

  button.outlined {
    @apply bg-transparent border border-white hover:border-transparent hover:text-white;
    @apply hover:bg-primary;
  }

  button.outlined:disabled {
    @apply border border-gray-600;
    @apply hover:bg-transparent;
  }

  button.with-icon {
    @apply flex gap-1 items-center px-2;
  }

  input {
    @apply text-sm outline-none p-2;
  }

  input:disabled {
    @apply cursor-not-allowed;
  }

  input.underlined, .underlined.input-with-icon {
    @apply border-b border-b-gray-600;
  }
  input.underlined:focus {
    @apply border-b-gray-400;
  }

  input.bordered, .boredered.input-with-icon {
    @apply border-2 border-gray-600 rounded-md;
  }

  input.filled, .input-with-icon.filled {
    @apply bg-input-primary;
  }
  input.bordered:focus {
    @apply border-gray-400;
  }

  .title {
    @apply capitalize text-4xl;
  }

  .bigtitle {
    @apply capitalize text-5xl;
  }

  .subtitle {
    @apply capitalize text-xl;
  }
  .undertitle {
    @apply text-sm opacity-50;
  }

  .debug {
    @apply border border-red-400;
  }
}

@layer components {

  .route {
    @apply capitalize text-gray-300 hover:text-white block py-1 px-4;
  }

  .route[data-selected='true'] {
    @apply text-white;
  }
}