@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  @apply px-4 py-2 hover:opacity-70 capitalize duration-300;
}

a {
  @apply hover:underline capitalize;
}

input {
  @apply p-2;

  &.transparent {
    @apply bg-transparent outline-none border-none;
  }
}

@layer components {
  .toggle {
    @apply w-11 h-6 rounded-full bg-slate-300 cursor-pointer relative flex items-center;

    .toggle-inner {
      @apply w-5 h-5 rounded-full bg-white mx-0.5 absolute transition duration-300;
      transform: translate(0%, 0%);
    }
  }

  .toggle[data-checked="true"] {
    @apply bg-black dark:bg-green-600;

    .toggle-inner {
      transform: translate(100%, 0%);
    }
  }

  .auth-field {
    @apply flex flex-col my-8;

    label {
      @apply capitalize;

      /* automatically add '*' to required fields */
      &:has(+ input[required]) {
        &:after {
          content: "*";
          @apply px-1 text-red-700;
        }
      }
    }

    input {
      @apply border-b px-2 border-gray-400 bg-transparent outline-none;

      &:invalid:not(:placeholder-shown) {
        @apply border-red-400;
      }
    }
  }

  .auth-submit {
    @apply bg-black dark:bg-white text-white dark:text-black rounded-md w-full;
  }
}
