name: CI

on:
  pull_request:
  push:
    branches:
      - main

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      
      - name: setup node
        uses: actions/setup-node@v5
        with:
          node-version-file: package.json
          cache: yarn

      #- run: npm install -g yarn
      - name: install dependencies
        run: yarn install
      
      - name: setup environment variables
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            echo "Setting up preview environment"
            if [ -f .env.preview.example ]; then
              cp .env.preview.example .env.preview
            fi
          else
            echo "Setting up production environment"
            if [ -f .env.production.example ]; then
              cp .env.production.example .env.production
            fi
          fi
      
      - name: build
        run: yarn build
